@model IEnumerable<PizzaPerson>

<h2>Customers</h2>

<br />
<br />

<div style="display: block">
    <a href="/Person/InsertPerson/">Create a New Customer!</a>
</div>

<br />
<br />


<table class="table">
    <tr>
        <th>CustomerID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
        
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td><a href=/Person/ViewPerson/@product.CustomerID>@product.CustomerID</a></td>
            <td>@product.Name</td>
            <td>@product.Address</td>
            <td>@product.Age</td>
            <td>@product.Gender</td>
            
        </tr>

    }
</table>
