@model PizzaPerson

<h2>Create a New Person</h2>

@using (Html.BeginForm("InsertPersonToDatabase", "Person", "Post"))
{
    <input asp-for="CustomerID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />

    <label asp-for="Address" class="control-label">Address</label>
    <input type="text" name="Address" class="form-control" value="@Model.Address" />

    <label asp-for="Age" class="control-label">Age</label>
    <input type="text" name="Age" class="form-control" value="@Model.Age" />

    <label asp-for="Gender" class="control-label">Gender</label>
    <input type="text" name="Gender" class="form-control" value="@Model.Gender" />


    <br>
    <br>
    <br>



    <input type="submit" value="Insert Person" class="btn btn-primary" />



   @*  <div class="form-group">
        <label for="">Select a Category</label>
        <select class="form-control" name="CategoryID" value="">
            @foreach (var cat in Model.Categories)
            {
                <option value="@cat.CustomerID">@cat.CustomerID @cat.Name</option>
            }
        </select>
    </div> *@

    
}