@model PizzaPerson

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>CustomerID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
        <th>EventSize</th>
    </tr>
    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.Name</td>
        <td>@Model.Address</td>
        <td>@Model.Age</td>
        <td>@Model.Gender</td>
        <td>@Model.EventSize</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Person/UpdatePerson/@Model.CustomerID">Update this Person</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeletePerson", "Person", "Post"))
    {
        <input type="hidden" asp-for="CustomerID" value="@Model.CustomerID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this person" />
    }
</div>